@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

body {
    font-family: 'Nunito';
    background-color: #FBF9FF;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #B3B7EE;
    color: #000807;
    font-weight: 200;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
.stats-card {
    flex: 1;
    box-shadow: 0 0 30px #A2A3BB;
    background-color: #A3A6E1;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}



#button-container {
    display: flex;
    justify-content: space-between;
}

#filter-buttons {
    display: flex;
    gap: 10px 20px;
    flex: 1 0 auto;
}

#filter-buttons>button {
    background-color: #A3A6E1;
    box-shadow: #A2A3BB 0 10px 20px -10px;
    color: #000807;
    font-family: 'Nunito';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

#filter-buttons>button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#sort-select {
    display: flex;
    flex: 1 0 auto;
}

#sort-select select {
    font-family: 'Nunito';
    margin-left: auto;
}

.games-container {
    display: flex;
}
.game-card {
    display: flex;
    flex-direction: column;
    flex: 1 auto 30%;
}

.game-card img {
    max-width: 100%;
    overflow: auto;
    align-self: flex-start;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #A3A6E1;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

